* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.header-nav {
    box-shadow: 0 4px 8px 0 rgb(51 51 51 / 8%);
    position: relative;
}

.header-nav .logo, .header-nav .nav-content {
    align-items: center;
    height: 52px;
}

.header-nav .logo {
    display: inline-flex;
    padding: 0 20px;
}

.header-nav .nav-content {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-right: 40px;
}

.header-nav .nav-content .nav-link {
    color: #333;
}

.con-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.con-section > slider {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #fcfcfc;
    box-shadow: 0 2px 4px 0 rgb(51 51 51 / 8%);
}

.con-section .menu-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 13px 20px;
}

.con-section .menu-title > h2 {
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 34px;
    font-size: 14px;
    color: #000000;
    position: relative;
}

.con-section .menu-title > h2:after {
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #eee;
}

.menu-list {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.menu-list .item {
    font-size: 14px;
    padding: 0;
    margin-bottom: 8px;
    position: relative;
}

.menu-list .item .link {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 24px;
    color: #262626;
}

.menu-list .item.active .link {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 24px;
    color: #00aae7;
    background-color: #f4fcff
}

.menu-list .item.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #00aae7;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.main-title {
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
}

#main .table-container {
    padding: 10px 24px;
}

#main .table-action {
    height: 53px;
}

#main .btn-primary, #newSong-form .btn-primary {
    color: #fff;
    background-color: #00aae7;
    border-radius: 2px;
    height: 32px;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 0 15px;
}

#main .btn-primary:focus, #newSong-form .btn-primary:focus {
    box-shadow: none;
}

#main .btn-primary:hover, #newSong-form .btn-primary:hover {
    background-color: rgb(54, 210, 246);
    border: none;
}

.table>:not(caption)>*>* {
    border: none;
}
.table>:not(:first-child) {
    border-top: none;
}
.table-container table th {
    background-color: #fafafa;
}
.table-container table tr:hover {
    background-color: #f4fcff;
}
.table-container table thead th {
    color: #595959;
    font-weight: 500;
    font-size: 14px;
}
.table-container table tr {
    color: #595959;
    font-size: 14px;
}

#newSong-form .submit-btn {
    display: flex;
    justify-content: flex-end;
}

#newSong-form .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(54 210 246 / 25%);
}
#songList .btn-link {
    text-decoration: none;
    font-size: 14px;
    color: #00aae7;
}